@import '../../styles/global.scss';

.roadmap-container {
    height: 300px;
    border: 2px solid red;
    text-align: center;
    position: relative;
    &__button {
        position: absolute;
        &__span {
            position: absolute;
            align-items: center;
            -webkit-animation: pulseMobile 1.5s infinite;
            animation: pulseMobile 1.5s infinite;
            background: #01bedba8;
            border: none;
            border-radius: 50%;
            box-shadow: 0 0 0 0 rgb(1 191 219 / 50%);
            color: #fff;
            cursor: pointer;
            display: flex;
            font-weight: light;
            height: 20px;
            justify-content: center;
            left: 50%;
            line-height: 100px;
            margin-left: -50px;
            margin-top: -50px;
            position: relative;
            text-align: center;
            text-transform: uppercase;
            top: 50%;
            width: 20px;
        }
    }
    &__overlay {
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: rgba(0, 0, 0, 0.75);
      z-index: 100;
    }
}

@keyframes pulseMobile {
    0% {
      transform: scale(.9);
    }
  
    70% {
      transform: scale(1);
      box-shadow: 0 0 0 20px rgba($sColor, 0);
    }
  
    100% {
      transform: scale(.9);
      box-shadow: 0 0 0 0 rgba($sColor, 0);
    }
  }