.social__container {
    display: flex;
    justify-content: center;
    &__item-link {
        &__svg {
            &:hover {
                animation: randomFill 2s infinite;
            }
        }
    }
}