@import '../../styles/util.scss';

.team-container__cards__item {
    transition: transform 0.5s ease-in;
    position: relative;
    transform-style: preserve-3d;
    &__front, &__back {
        width: 100%;
        aspect-ratio: 1;
        border-radius: 1rem;
        backface-visibility: hidden;
        overflow: hidden;
    }
    &__front {
        object-fit: cover;
    }
    &__back {
        position: absolute;
        top: 0;
        background: rgba(0, 0, 0, 0.25);
        transform: rotateY(180deg);
        display: flex;
        flex-direction: column;
        align-items: center;
        line-height: 1.5em;
        padding: 1em;
        &__header {
            margin: 1em;
            display: flex;
            gap: 0.5em;
        }
    }
    &:hover {
        transform: rotateY(180deg);
    }
}