@import '../../styles/util.scss';

.navbar-container__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1 1 0px;
    margin-left: 3em;
    gap: 2em;

    @include media(large) {
        display: none;
        position: absolute;
        flex-direction: column;
        align-items: stretch;
        background-color: rgba(0, 0, 0, 0.5);
        right: 0;
        top: 0;
        width: 50vw;
        padding: 2rem;
        z-index: 100;
        &.visible {
            display: flex;
        }
    }
    &__cancel {
        display: none;
        @include media(large) {
            display: block;
            position: absolute;
            font-size: 2rem;
            padding: .5rem;
            border-radius: .5rem;
            left: 0;
            top: 0;
            transform: translateX(-150%);
        }
    }

    &__pages {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1.5rem;
        @include media(large) {
            flex-direction: column;
        }
        
        &__item {
            transition: rotate .1s ease-in-out;
            &:hover:nth-child(odd) {
                rotate: 5deg;
            }
            &:hover:nth-child(even) {
                rotate: -5deg;
            }
        }
    }

    &__actions {
        display: flex;
        align-items: center;
        gap: 1em;
        white-space: nowrap;
        @include media(large) {
            flex-direction: column;
            align-items: stretch;
            text-align: center;
        }
        &__item {
            background-color: #5b5e84;
            border-radius: .5rem;
            padding: 1rem;
        }
    }
}