@import '../../styles/util.scss';

.gallery-container__cards__item {
    width: 100%;
    &:hover {
        animation: wiggle 1s linear infinite;
    }
    &__img {
        width: 100%;
        aspect-ratio: 1;
        object-fit: cover;
        border-radius: 1rem;
    }
    &__nftid {
        text-align: center;
        font-size: 1.5rem;
        margin: 1.5rem;
        @include media(medium) {
            margin: 0rem;
            font-size: 1.25rem;
        }
    }
}

@keyframes wiggle {
    0% {
      transform: rotate(0deg);
    }
  
    25% {
      transform: rotate(1deg);
    }

    50% {
        transform: rotate(0deg);
      }

    75% {
      transform: rotate(-1deg);
    }

    100% {
      transform: rotate(0deg);
    }
  }