@import '../../styles/util.scss';

.gallery-container {
    margin: 7.5vh 7.5vw;
    font-size: 1rem;
    &__header {
        text-align: center;
        margin: 5rem;
        font-size: 3em;
        @include media(medium) {
            font-size: 2em;
            margin: 3rem;
        }
    }
    &__cards {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 1rem;
        @include media(large) {
            grid-template-columns: repeat(3, 1fr);
        }
        @include media(medium) {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}